<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owen.view">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CircleProgressActivity" />
        <activity android:name=".activity.TaiJiActivity" />
        <activity android:name=".activity.RefreshActivity" />
        <activity android:name=".activity.WeiBoLoadingViewActivity" />
        <activity android:name=".activity.PaintStyleActivity" />
        <activity android:name=".activity.RadarViewActivity" />
        <activity android:name=".activity.PieChartViewActivity" />
        <activity android:name=".activity.MomentsActivity" />
        <activity android:name=".activity.CheckBoxActivity" />
        <activity android:name=".activity.DragViewActivity" />
        <activity android:name=".activity.DragView2Activity" />
        <activity android:name=".activity.DragView3Activity" />
        <activity android:name=".activity.DragView4Activity" />
        <activity android:name=".activity.DragView5Activity" />
        <activity android:name=".activity.DragView6Activity" />
        <activity android:name=".activity.DragView7Activity" />
        <activity android:name=".activity.DragView8Activity" />
        <activity android:name=".activity.EventDispatchActivity" />
    </application>

</manifest>
